body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    background-color: lightslategrey;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
}

#gagnant {
    color: white;
    font-size: 24px;
    text-align: center;
}

#reset-btn {
    background-color: #2F4F4F;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1rem;
}